<form method="post" action="{{ path('app_coaster_delete', {'id': coaster.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce coaster ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
    <button type="submit" class="btn btn-error">Supprimer</button>
</form>