{% extends 'base.html.twig' %}

{% block title %}Modifier un Coaster{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Modifer un Coaster</h1>
        
        {{ form_start(coasterForm) }}
        {{ form_widget(coasterForm) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(coasterForm) }}
        
        <a href="{{ path('app_coaster_index') }}" class="btn btn-primary mt-4">
            Retour à la liste
        </a>
    </div>
{% endblock %}